.card {
  background-color: white;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.7rem;
  transition: 0.2s;
}

.horizontal-scroll {
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.category-card {
  margin-bottom: 2rem;
  width: 100%;
  height: 25rem;
}
