body {
  padding: 0;
  margin: 0;
  background-color: rgb(227, 230, 230);
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}

a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
