.nav-bar {
  background-color: #131921;
  padding: 0 0.5rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  color: white;
}

.nav-bar section {
  display: flex;
  gap: 2rem;
}

.nav-title {
  font-weight: bolder;
  font-size: larger;
  padding: 0.4rem 0.2rem;
  border: 0.1rem solid #131921;
}

.nav-title:hover {
  border: 0.1rem solid white;
  transform: scale(1.05);
  cursor: pointer;
}

.nav-item {
  font-weight: 400;
  padding: 0.5rem 0.2rem;
  border: 0.1rem solid #131921;
  color: white;
}

.nav-item:hover {
  border: 0.1rem solid white;
  transform: scale(1.05);
  cursor: pointer;
}

.nav-search {
  flex-basis: auto;
  width: 100%;
  margin: 0 1rem;
}

.nav-search:focus-within {
  border: 0.2rem solid #f3a847;
  border-radius: 0.5rem 0.6rem 0.6rem 0.5rem;
}

.nav-search form {
  display: flex;
}

.input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 0.3rem 0 0 0.3rem;
  margin-right: 0;
  padding-right: 0;
}

.nav-search form button img {
  padding-top: 0.15rem;
  height: 1.6rem;
}

.nav-search form button {
  border-radius: 0% 0.3rem 0.3rem 0%;
  border: none;
  cursor: pointer;
  background-color: #febd69;
}

.nav-search form button:hover {
  background-color: #f3a847;
}

.input:focus {
  outline: none;
  border: none;
  box-sizing: content-box;
}

.link {
  text-decoration: none !important;
}

.active .nav-item{
  transform: scale(1.1);
  color: #febd69;
}